# Python Ka Chilla With Baba Aamar
## How to use jupyter Notebook
### Basics of Python

### **01- My first Program**

In [1]:
# My first program in pytho
print(2+3)
print("Hellow World")
print("We are learning python with Ammar")
print((2*4+5)/4)

5
Hellow World
We are learning python with Ammar
3.25

In [2]:
### **02-Operators**

In [3]:
print(2+3)
print(2*3)
print(6/2)
print(6//2)
print(2**3)
print(13%2)
print(2**3*2+4/2*5-4)

5
6
3.0
3
8
1
22.0

PEMDAS Parenthesis Exponents Multiply Devide Addition and Subtraction (fro Left to right MD & AS)

### 03- Strings

In [4]:
print("Hellow World")
print("We are learning python with Ammar")
print('My name is Salman')
print("My name is Salman khan")
print('''My name M.Salman Khan''')

Hellow World
We are learning python with Ammar
My name is Salman
My name is Salman khan
My name M.Salman Khan

### 04- Comments
The shortcut key to comment is **Ctrl+/ or Shift+3 which is #

In [5]:
print("How are you?")         # to change code to comment (ctrl+/)
print("My name is Salman")    # print a string
print(2+5)                    # print operator operation with number

How are you?
My name is Salman
7

### 05- Variables and its types/class
Variables is Object containing specific values

In [6]:
x=5                          # number or integer variable
print(x)
y="My name is Salman"        # string variable
print(y)
x=x+15
print(x)
print(type(x))
print(type(y))

5
My name is Salman
20
<class 'int'>
<class 'str'>

### Important rules to remember before assigning any variables

1 The variables should contain letters, numbers or underscores
2 Do not start with numbers
3 spaces are not allowed
4 Do not use keywords used in functions (break, class, mean, median etc)
5 be precise
6 Case sensitive (Lowercase letter, uppercase letters. Always use lowercase letters to be conventient)
7 Variable updated in downward direction

### 06- Input Variables
Simple Input Variables

In [7]:
fruit_basket=input("what is your favorite fruit> ")
print(fruit_basket)

what is your favorite fruit> Apple
Apple

In [8]:
# 2nd Stage Input function
name=input("What is your name? ")
Greetings="Hello!"
print(Greetings, name)

What is your name? Salman
Hello! Salman

In [9]:
# 2nd Method
name=input("What is your name? ")
print("Hello!", name)

What is your name? Salman
Hello! Salman

In [10]:
# 3rd stage input function
name=input("What is your name? ")
age=input("How old are you? ")
Greetings="Hello!"
print(Greetings, name," , you are still young")

What is your name? Salman
How old are you? 29
Hello! Salman  , you are still young

### 07- Conditional Logical Operators
logical operators are either ***"True" or "False", "yes" or "No" or "0" or "1"

equal to == ,
not equal to != ,
Less than < ,
greater than > ,
less than and equal to <= ,
greater than and equal to >= ,

In [11]:
print(4==4)
print(4!=4)
print(4<4)
print(4>4)
print(4<=5)
print(4>=5)

True
False
False
False
True
False

***Application of logical operators

In [12]:
salman_age=4
age_at_school=5
print(salman_age==age_at_school)

False

***Input operator and logical operators

In [13]:
age_at_school=5
your_age=input("How old are you? ")  # input function
your_age=int(your_age)               # change string to integer
print(your_age==age_at_school)

How old are you? 2
False

### 08- Type Conversion

In [14]:
x=15
y=12.6
z="Hello!"
g=x*y
f=x+y
print(type(x))
print(type(y))
print(type(x*y))
print(type(g))
print(type(x+y))
print(type(f))
print(type(z))

# implicit type conversion

x=g+f
print(x, "Type of x is", type(x))

# explicit type conversion

name=input("what is your name? ")
age=input("how old are you ")
print(name, type (name))
# print(age,type (int(age)))
print(age,type (float (age)))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
216.6 Type of x is <class 'float'>
what is your name? Salman
how old are you 29
Salman <class 'str'>
29 <class 'float'>

### 09- If_else_elif Statements

In [15]:
salman_age=10
age_at_school=5

if salman_age==age_at_school:
    print("Congratulation! salman can join the school")
elif salman_age>age_at_school:
    print("salman should join higher secondary school")
elif salman_age==2:
    print("you should take care of salman, he is still a baby")
else:
    print("salman can not join the school")

salman should join higher secondary school

In [16]:
# 2nd Method

salman_age= int (input("age of salman "))
age_at_school=5

if salman_age==age_at_school:
    print("Congratulation! salman can join the school")
elif salman_age>age_at_school:
    print("salman should join higher secondary school")
elif salman_age<=2:
    print("you should take care of salman, he is still a baby")
else:
    print("salman can not join the school")

age of salman 6
salman should join higher secondary school

### 10- Functions

In [17]:
def print_codianics():
    print("we are learning with aamar")
    print("we are learning with aamar")
    print("we are learning with aamar")

print_codianics()

# # 2nd method

def print_salman_function():
    text="we are learning with aammar"
    print(text)
    print(text)
    print(text)

print_salman_function()

# 3rd method

def print_codianics(text):
    print(text)
    print(text)
    print(text)

print_codianics("we are learning with aamar")

we are learning with aamar
we are learning with aamar
we are learning with aamar
we are learning with aammar
we are learning with aammar
we are learning with aammar
we are learning with aamar
we are learning with aamar
we are learning with aamar

***defining a function with if, else and elif statement

In [18]:
def school_calculator(age):
    age_at_school=5
if age==age_at_school:
    print("Congratulation! salman can join the school")
elif int(age)>age_at_school:
        print("salman should join higher secondary school")
elif age<=2:
        print("you should take care of salman, he is still a baby")
else:
        print("salman can not join the school")

school_calculator(5)

salman should join higher secondary school

***2nd Method

In [19]:
def school_calculator(age=int(input("what is your age? "))): # you can also just put the age
      age_at_school=5

if age==age_at_school:
    print("Congratulation! salman can join the school")
elif int(age)>age_at_school:
    print("salman should join higher secondary school")
elif age<=2:
    print("you should take care of salman,he is still a baby")
else:
    print("salman can not join the school")
school_calculator()

what is your age? 3
salman should join higher secondary school

***define a function for future

In [20]:
def future_age(age):
    new_age=age+15
    print(new_age)
    return new_age
    
future_age(10)

25

25

### 11- Loops
***while and For Loops

In [21]:
# While Loops
x=0
while (x<5):
    print(x)
    x=x+1

y=2 
while (y<10):
    print(y)
    y=y+1

# for loops

for x in range(5,10):
    print(x)

0
1
2
3
4
2
3
4
5
6
7
8
9
5
6
7
8
9

***Arrays

In [22]:
days=["sun, mon, tue, wed, thur, fri, sat"]
for d in days:
    print(d)

sun, mon, tue, wed, thur, fri, sat

In [23]:
days=["sun", "mon", "tue", "wed", "thur", "fri", "sat"]
for d in days:
    print(d)

sun
mon
tue
wed
thur
fri
sat

In [24]:
days=["sun", "mon", "tue", "wed", "thur", "fri", "sat"]
for d in days:
    if (d=="fri"): break
    print(d)

sun
mon
tue
wed
thur

In [25]:
days=["sun", "mon", "tue", "wed", "thur", "fri", "sat"]
for d in days:
    if (d=="fri"): continue
    print(d)

sun
mon
tue
wed
thur
sat

### 12- Import Libraries
1. Defining function by urself its better to import already defined functions:
2. people around the world already defined different functions
3. its available in open source libraries from where we can use it.
4. for example if you want to print or use value of pi

In [26]:
import math
print("the value of pi is ", math.pi)

import statistics

x=[240,245,280.310]
print(statistics.mean(x))

the value of pi is  3.141592653589793
255.10333333333332

***Important libraries are numpy, pandas